* {
    cursor: none;
}

.cursor {
    width: 1.7rem;
    height: 1.7rem;
    border: 1.8px solid #696969;
    background: #000;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background, border, transform;
    transform-origin: 150% 150%;
    z-index: 999;
}