.transition {
    position: absolute;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.transition li {
    width: 20%;
    background: #8435D2;
    transform: scaleY(0);
}